{% extends "base.html" %}

{% block content %}
{% block title %}<h1>{{ conf }}</h1>{% endblock %}

<div id="function-box">
  <div id="video">
    <video id="video-tag" src="{{ video_url }}" width="600" height="480" controls="controls" autoplay="autoplay">
    <applet code="com.fluendo.player.Cortado.class" archive="http://theora.org/cortado.jar" width="600" height="480">
      <param name="url" value="{{ video_url }}"/>
    </applet>
    </video>
  </div>

  {% block chat %}
  <div id="chat">
    <div id="chat-box"></div>
    <!-- You should try to include this at another place at your convenience :D -->
    <script type="text/javascript" src="/static/js/hookbox.js"></script>
    <script type="text/javascript" src="/static/js/jchat.js"></script>
    <script type="text/javascript" src="/static/js/video_reload.js"></script>
    <script type="text/javascript" src="/static/js/slides.js"></script>
    <script type="text/javascript">
var conf = {}

conf.ws = hookbox.connect('http://errantia.org:8001/');

    /* chat_id is passed form the view, the init_chat function then does all the magic */
    $(window).ready(function() {
      init_slides("{{ conf.slug }}", "{{ conf.state }}");
      init_chat({{ chat_id }}, "chat-box");
      init_videoreload("video-tag");
    });
    </script>
  </div>
  {% endblock chat %}

  {% block slides %}
  <div id="slides" style="display:none;">
    <div class="valign">
      <img src="{{ conf.conf_image|default:"" }}" id="slide-active">
    </div>
  </div>
  {% endblock slides %}
</div>
{% endblock %}
